[submodule "Northwind/Dependencies/Eos"]
	path = Northwind/Dependencies/Eos
	url = https://github.com/KabalMcBlade/Eos.git
[submodule "Northwind/Dependencies/Nix"]
	path = Northwind/Dependencies/Nix
	url = https://github.com/KabalMcBlade/Nix.git
